name: CI
on:
  workflow_call:
    inputs:
      docker_image_local_name:
        description: "The local name of the Docker image"
        required: true
        type: string
      nodejs_version:
        description: "The version of Node.js"
        required: false
        default: 16
        type: string
      kubernetes_version:
        description: "The version of Kubernetes"
        required: false
        default: 1.22.15
        type: string
      skaffold_version:
        description: "The version of Skaffold"
        required: false
        default: 1.19.0
        type: string

jobs:
  ci:
    runs-on: buildjet-4vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v3
        timeout-minutes: 2
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.nodejs_version }}
        timeout-minutes: 2
      - name: Get npm cache directory
        id: npm-cache
        shell: bash
        run: echo "dir=$(npm config get cache)" >> ${GITHUB_OUTPUT}
        timeout-minutes: 5
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ inputs.nodejs_version }}-${{ hashFiles('**/package-lock.json') }}
        timeout-minutes: 5
      - name: Install dependencies
        run: npm ci
        timeout-minutes: 5
      - run: npm run static-checks
        timeout-minutes: 3
      - run: npm run test
        timeout-minutes: 5

      - uses: azure/setup-helm@v3
        with:
          version: v3.10.1
        timeout-minutes: 2

      # Check the main chart and the one for backing services
      - run: helm dependency update chart/
        timeout-minutes: 2
      - run: helm dependency update chart/dev-backing-services
        timeout-minutes: 2
      - run: helm lint chart/ --values=chart/values.dev.yml --strict
        timeout-minutes: 2
      - run: helm lint chart/dev-backing-services --values=chart/dev-backing-services/values.yml --strict
        timeout-minutes: 2

      # Functional tests
      - name: Create cluster
        uses: medyagh/setup-minikube@v0.0.14
        with:
          minikube-version: '1.30.1'
          kubernetes-version: 'v${{ inputs.kubernetes_version }}'
          cpus: max
          memory: 6000m
        timeout-minutes: 5
      - name: Run Skaffold pipeline
        uses: hiberbee/github-action-skaffold@1.24.0
        with:
          command: run
          skaffold-version: ${{ inputs.skaffold_version }}
          kubectl-version: ${{ inputs.kubernetes_version }}
        timeout-minutes: 10
      - name: Start port-forwarding
        run: .github/scripts/port-forward.sh
        timeout-minutes: 2
      - run: npm run test:functional
        env:
          IS_GITHUB: 'true'
        timeout-minutes: 2
      - name: Output diagnostic information upon failure
        if: failure()
        run: .github/scripts/output-diagnostics.sh
        timeout-minutes: 2

      # Export Docker image so it can be published
      - name: Export Docker image
        run: docker save -o /tmp/docker-image ${{ inputs.docker_image_local_name }}:latest
        timeout-minutes: 2
      - name: Upload Docker image
        uses: actions/upload-artifact@v3
        with:
          name: docker-image
          path: /tmp/docker-image
        timeout-minutes: 2
